client.generalLedger.input.journalTransactions/Web References/ctDynamicsSL.financial.generalLedger.input.journalTransactions/journalTransactions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.catalinatechnology.com/services/ctDynamicsSL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.catalinatechnology.com/services/ctDynamicsSL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.catalinatechnology.com/services/ctDynamicsSL">
      <s:element name="about">
        <s:complexType />
      </s:element>
      <s:element name="aboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editScreen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inScreen" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="screen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="myBatch" type="tns:Batch" />
          <s:element minOccurs="0" maxOccurs="1" name="myGLTran" type="tns:ArrayOfGLTran" />
          <s:element minOccurs="0" maxOccurs="1" name="batchNote" type="tns:Snote" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Batch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Acct" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AutoRev" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="AutoRevCopy" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="BalanceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankSub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseCuryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="clearamt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Cleared" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="CpnyID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Crtd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_User" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CrTot" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CtrlTot" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryCrTot" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryCtrlTot" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryDepositAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryDrTot" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryEffDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryMultDiv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryRate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryRateType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cycle" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="DateClr" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateEnt" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DepositAmt" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DrTot" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="EditScrnNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GLPostOpt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JrnlType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LedgerID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LUpd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Module" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NbrCycle" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="NoteID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigBatNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigCpnyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigScrnNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerEnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerPost" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rlsed" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future02" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future03" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future04" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future05" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future07" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future09" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="User4" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="User5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User6" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User7" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="User8" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGLTran">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GLTran" nillable="true" type="tns:GLTran" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GLTran">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Acct" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AppliedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BalanceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseCuryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BatNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CpnyID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CrAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Crtd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_User" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryCrAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryDrAmt" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryEffDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryMultDiv" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CuryRate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryRateType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DrAmt" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExtRefNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiscYr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IC_Distribution" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="JrnlType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Labor_Class_Cd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LedgerID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LineId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LineNbr" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="LineRef" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LUpd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Module" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoteID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigBatNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigCpnyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigSub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PC_Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PC_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PC_Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerEnt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PerPost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Posted" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="RefNbr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RevEntryOption" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rlsed" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future02" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future03" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future04" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future05" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future07" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future09" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future12" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Sub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TranDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TranDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Units" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="User1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="User4" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="User5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User6" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User7" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="User8" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Snote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dtRevisedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sLevelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sTableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sNoteText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="editScreenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editScreenResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ctDynamicsSLHeader" type="tns:ctDynamicsSLHeader" />
      <s:complexType name="ctDynamicsSLHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseExpiration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="softwareName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpnyID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="editNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noteLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inSnote" type="tns:Snote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editNoteResult" type="tns:Snote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editNoteAsDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noteLevel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inSnote" type="tns:Snote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editNoteAsDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editNoteAsDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewGLTran">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inTemplate" type="tns:GLTran" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewGLTranResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewGLTranResult" type="tns:GLTran" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewscreen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inTemplate" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewscreenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewscreenResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getScreenByBatNbr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batNbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getScreenByBatNbrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getScreenByBatNbrResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inTemplate" type="tns:Batch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewBatchResult" type="tns:Batch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBatchesByBatNbr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batNbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getBatchesByBatNbrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getBatchesByBatNbrResult" type="tns:ArrayOfBatch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Batch" nillable="true" type="tns:Batch" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGLTransByBatNbrAndLineNbr">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="batNbr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lineNbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGLTransByBatNbrAndLineNbrResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGLTransByBatNbrAndLineNbrResult" type="tns:ArrayOfGLTran" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editGLTran">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inItem" type="tns:GLTran" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editGLTranResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editGLTranResult" type="tns:GLTran" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inItem" type="tns:Batch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editBatchResult" type="tns:Batch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAcctXrefsByAcct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acct" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpnyID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAcctXrefsByAcctResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAcctXrefsByAcctResult" type="tns:ArrayOfAcctXref" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAcctXref">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AcctXref" nillable="true" type="tns:AcctXref" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AcctXref">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Acct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcctType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="CpnyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="User4" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="getProjectsByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProjectsByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProjectsByIDResult" type="tns:ArrayOfPJPROJ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPJPROJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PJPROJ" nillable="true" type="tns:PJPROJ" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PJPROJ">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="alloc_method_cd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="alloc_method2_cd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseCuryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="bf_values_switch" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="billcuryfixedrate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="billcuryid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="billing_setup" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="billratetypeid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="budget_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="budget_version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contract" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="contract_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CpnyId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="crtd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_user" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryRateType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="end_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="gl_subacct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labor_gl_acct" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lupd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_user" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manager1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manager2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSPData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSPInterface" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSPProj_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="noteid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="opportunityID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id04" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id05" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pm_id06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pm_id07" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pm_id08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="pm_id09" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="pm_id10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id31" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id32" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id33" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id34" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id35" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id36" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pm_id37" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pm_id38" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pm_id39" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="pm_id40" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="probability" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="project" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="project_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="purchase_order_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="rate_table_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="shiptoid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="slsperid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="start_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="status_08" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_09" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_10" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_13" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_14" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_15" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_16" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_17" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_18" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_19" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_20" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_ap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_ar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_gl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_in" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_lb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_pa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_po" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="user3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="user4" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entityID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTasksResult" type="tns:ArrayOfPJPENT" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPJPENT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PJPENT" nillable="true" type="tns:PJPENT" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PJPENT">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="contract_type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="crtd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_user" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="end_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="fips_num" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="labor_class_cd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lupd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_user" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manager1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSPData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSPInterface" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSPSync" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSPTask_UID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="noteid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="opportunityProduct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id04" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id05" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pe_id06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pe_id07" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pe_id08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="pe_id09" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="pe_id10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id31" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id32" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id33" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id34" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id35" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id36" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pe_id37" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="pe_id38" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="pe_id39" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="pe_id40" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="pjt_entity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="pjt_entity_desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="project" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="start_date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="status_08" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_09" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_10" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_13" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_14" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_15" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_16" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_17" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_18" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_19" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_20" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_ap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_ar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_gl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_in" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_lb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_pa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status_po" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="user3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="user4" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="getSubXrefsBySub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sub" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cpnyID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSubXrefsBySubResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSubXrefsBySubResult" type="tns:ArrayOfSubXref" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubXref">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubXref" nillable="true" type="tns:SubXref" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubXref">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="CpnyID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="User4" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="getEmployeesByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="employee" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmployeesByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmployeesByIDResult" type="tns:ArrayOfPJEMPLOY" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPJEMPLOY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PJEMPLOY" nillable="true" type="tns:PJEMPLOY" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PJEMPLOY">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseCuryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CpnyId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="crtd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_user" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryRateType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="date_hired" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="date_terminated" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="employee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emp_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emp_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emp_type_cd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id04" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id05" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="em_id06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="em_id07" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="em_id08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="em_id09" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="em_id10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id13" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id14" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id15" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id16" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id17" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="em_id18" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="em_id19" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="em_id20" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id21" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id22" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id23" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id24" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="em_id25" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="exp_approval_max" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="gl_subacct" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lupd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_user" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manager1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="manager2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSPData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MSPInterface" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MSPRes_UID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MSPType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="noteid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="placeholder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stdday" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="Stdweek" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Subcontractor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="user3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="user4" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="user_id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLaborClassesByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codeValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLaborClassesByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLaborClassesByIDResult" type="tns:ArrayOfPJCODE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPJCODE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PJCODE" nillable="true" type="tns:PJCODE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PJCODE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="code_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code_value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="code_value_desc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="crtd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_user" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="data3" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="data4" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="lupd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_user" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="noteid" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseExpiration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="softwareName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="aboutSoapIn">
    <wsdl:part name="parameters" element="tns:about" />
  </wsdl:message>
  <wsdl:message name="aboutSoapOut">
    <wsdl:part name="parameters" element="tns:aboutResponse" />
  </wsdl:message>
  <wsdl:message name="editScreenSoapIn">
    <wsdl:part name="parameters" element="tns:editScreen" />
  </wsdl:message>
  <wsdl:message name="editScreenSoapOut">
    <wsdl:part name="parameters" element="tns:editScreenResponse" />
  </wsdl:message>
  <wsdl:message name="editScreenctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editNoteSoapIn">
    <wsdl:part name="parameters" element="tns:editNote" />
  </wsdl:message>
  <wsdl:message name="editNoteSoapOut">
    <wsdl:part name="parameters" element="tns:editNoteResponse" />
  </wsdl:message>
  <wsdl:message name="editNotectDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editNoteAsDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:editNoteAsDataSet" />
  </wsdl:message>
  <wsdl:message name="editNoteAsDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:editNoteAsDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="editNoteAsDataSetctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getNewGLTranSoapIn">
    <wsdl:part name="parameters" element="tns:getNewGLTran" />
  </wsdl:message>
  <wsdl:message name="getNewGLTranSoapOut">
    <wsdl:part name="parameters" element="tns:getNewGLTranResponse" />
  </wsdl:message>
  <wsdl:message name="getNewGLTranctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getNewscreenSoapIn">
    <wsdl:part name="parameters" element="tns:getNewscreen" />
  </wsdl:message>
  <wsdl:message name="getNewscreenSoapOut">
    <wsdl:part name="parameters" element="tns:getNewscreenResponse" />
  </wsdl:message>
  <wsdl:message name="getNewscreenctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getScreenByBatNbrSoapIn">
    <wsdl:part name="parameters" element="tns:getScreenByBatNbr" />
  </wsdl:message>
  <wsdl:message name="getScreenByBatNbrSoapOut">
    <wsdl:part name="parameters" element="tns:getScreenByBatNbrResponse" />
  </wsdl:message>
  <wsdl:message name="getScreenByBatNbrctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getNewBatchSoapIn">
    <wsdl:part name="parameters" element="tns:getNewBatch" />
  </wsdl:message>
  <wsdl:message name="getNewBatchSoapOut">
    <wsdl:part name="parameters" element="tns:getNewBatchResponse" />
  </wsdl:message>
  <wsdl:message name="getNewBatchctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getBatchesByBatNbrSoapIn">
    <wsdl:part name="parameters" element="tns:getBatchesByBatNbr" />
  </wsdl:message>
  <wsdl:message name="getBatchesByBatNbrSoapOut">
    <wsdl:part name="parameters" element="tns:getBatchesByBatNbrResponse" />
  </wsdl:message>
  <wsdl:message name="getBatchesByBatNbrctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getGLTransByBatNbrAndLineNbrSoapIn">
    <wsdl:part name="parameters" element="tns:getGLTransByBatNbrAndLineNbr" />
  </wsdl:message>
  <wsdl:message name="getGLTransByBatNbrAndLineNbrSoapOut">
    <wsdl:part name="parameters" element="tns:getGLTransByBatNbrAndLineNbrResponse" />
  </wsdl:message>
  <wsdl:message name="getGLTransByBatNbrAndLineNbrctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editGLTranSoapIn">
    <wsdl:part name="parameters" element="tns:editGLTran" />
  </wsdl:message>
  <wsdl:message name="editGLTranSoapOut">
    <wsdl:part name="parameters" element="tns:editGLTranResponse" />
  </wsdl:message>
  <wsdl:message name="editGLTranctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editBatchSoapIn">
    <wsdl:part name="parameters" element="tns:editBatch" />
  </wsdl:message>
  <wsdl:message name="editBatchSoapOut">
    <wsdl:part name="parameters" element="tns:editBatchResponse" />
  </wsdl:message>
  <wsdl:message name="editBatchctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getAcctXrefsByAcctSoapIn">
    <wsdl:part name="parameters" element="tns:getAcctXrefsByAcct" />
  </wsdl:message>
  <wsdl:message name="getAcctXrefsByAcctSoapOut">
    <wsdl:part name="parameters" element="tns:getAcctXrefsByAcctResponse" />
  </wsdl:message>
  <wsdl:message name="getAcctXrefsByAcctctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getProjectsByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getProjectsByID" />
  </wsdl:message>
  <wsdl:message name="getProjectsByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getProjectsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="getProjectsByIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getTasksSoapIn">
    <wsdl:part name="parameters" element="tns:getTasks" />
  </wsdl:message>
  <wsdl:message name="getTasksSoapOut">
    <wsdl:part name="parameters" element="tns:getTasksResponse" />
  </wsdl:message>
  <wsdl:message name="getTasksctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getSubXrefsBySubSoapIn">
    <wsdl:part name="parameters" element="tns:getSubXrefsBySub" />
  </wsdl:message>
  <wsdl:message name="getSubXrefsBySubSoapOut">
    <wsdl:part name="parameters" element="tns:getSubXrefsBySubResponse" />
  </wsdl:message>
  <wsdl:message name="getSubXrefsBySubctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getEmployeesByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getEmployeesByID" />
  </wsdl:message>
  <wsdl:message name="getEmployeesByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getEmployeesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="getEmployeesByIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getLaborClassesByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getLaborClassesByID" />
  </wsdl:message>
  <wsdl:message name="getLaborClassesByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getLaborClassesByIDResponse" />
  </wsdl:message>
  <wsdl:message name="getLaborClassesByIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="pingSoapIn">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="pingSoapOut">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:portType name="journalTransactionsSoap">
    <wsdl:operation name="about">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ctDynamicsSL.financial.generalLedger.input.journalTransactions Copyright 2012. Catalina Technology.</wsdl:documentation>
      <wsdl:input message="tns:aboutSoapIn" />
      <wsdl:output message="tns:aboutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits all the records for the journal transaction entry screen. </wsdl:documentation>
      <wsdl:input message="tns:editScreenSoapIn" />
      <wsdl:output message="tns:editScreenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editNote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits a note for Batch. Requires noteLevel:BATCH;actionTypes:ADD,UPDATE,VALIDATEONLY</wsdl:documentation>
      <wsdl:input message="tns:editNoteSoapIn" />
      <wsdl:output message="tns:editNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editNoteAsDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits a note for batch. Requires noteLevel:BATCH;actionTypes:ADD,UPDATE,VALIDATEONLY</wsdl:documentation>
      <wsdl:input message="tns:editNoteAsDataSetSoapIn" />
      <wsdl:output message="tns:editNoteAsDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewGLTran">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a new default GLTran based on the passed template</wsdl:documentation>
      <wsdl:input message="tns:getNewGLTranSoapIn" />
      <wsdl:output message="tns:getNewGLTranSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a new default screen based on the passed template</wsdl:documentation>
      <wsdl:input message="tns:getNewscreenSoapIn" />
      <wsdl:output message="tns:getNewscreenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getScreenByBatNbr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a Screen object for this class using the passed batNbr</wsdl:documentation>
      <wsdl:input message="tns:getScreenByBatNbrSoapIn" />
      <wsdl:output message="tns:getScreenByBatNbrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a new default Batch based on the passed template</wsdl:documentation>
      <wsdl:input message="tns:getNewBatchSoapIn" />
      <wsdl:output message="tns:getNewBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getBatchesByBatNbr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets GL batches based on the passed batNbr</wsdl:documentation>
      <wsdl:input message="tns:getBatchesByBatNbrSoapIn" />
      <wsdl:output message="tns:getBatchesByBatNbrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGLTransByBatNbrAndLineNbr">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets GLTrans based on the passed batNbr and lineNbr (optional)</wsdl:documentation>
      <wsdl:input message="tns:getGLTransByBatNbrAndLineNbrSoapIn" />
      <wsdl:output message="tns:getGLTransByBatNbrAndLineNbrSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editGLTran">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits the records for the GLTran table.</wsdl:documentation>
      <wsdl:input message="tns:editGLTranSoapIn" />
      <wsdl:output message="tns:editGLTranSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editBatch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits the records for the Batch table.</wsdl:documentation>
      <wsdl:input message="tns:editBatchSoapIn" />
      <wsdl:output message="tns:editBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAcctXrefsByAcct">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for AcctXRefs based on Acct</wsdl:documentation>
      <wsdl:input message="tns:getAcctXrefsByAcctSoapIn" />
      <wsdl:output message="tns:getAcctXrefsByAcctSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getProjectsByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for projects by projectID</wsdl:documentation>
      <wsdl:input message="tns:getProjectsByIDSoapIn" />
      <wsdl:output message="tns:getProjectsByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for tasks</wsdl:documentation>
      <wsdl:input message="tns:getTasksSoapIn" />
      <wsdl:output message="tns:getTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSubXrefsBySub">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for SubXRefs based on Sub</wsdl:documentation>
      <wsdl:input message="tns:getSubXrefsBySubSoapIn" />
      <wsdl:output message="tns:getSubXrefsBySubSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeesByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for pjemploy entries based on employee</wsdl:documentation>
      <wsdl:input message="tns:getEmployeesByIDSoapIn" />
      <wsdl:output message="tns:getEmployeesByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLaborClassesByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for labor classes by id</wsdl:documentation>
      <wsdl:input message="tns:getLaborClassesByIDSoapIn" />
      <wsdl:output message="tns:getLaborClassesByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping service. Types: WEBSERVICE, SQL, ALL</wsdl:documentation>
      <wsdl:input message="tns:pingSoapIn" />
      <wsdl:output message="tns:pingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="journalTransactionsSoap" type="tns:journalTransactionsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/about" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editNote">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editNotectDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editNoteAsDataSet">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editNoteAsDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editNoteAsDataSetctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewGLTran">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewGLTran" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getNewGLTranctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewscreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getNewscreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScreenByBatNbr">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getScreenByBatNbr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getScreenByBatNbrctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewBatch">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getNewBatchctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBatchesByBatNbr">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getBatchesByBatNbr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getBatchesByBatNbrctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGLTransByBatNbrAndLineNbr">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getGLTransByBatNbrAndLineNbr" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getGLTransByBatNbrAndLineNbrctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editGLTran">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editGLTran" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editGLTranctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editBatch">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editBatchctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcctXrefsByAcct">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getAcctXrefsByAcct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getAcctXrefsByAcctctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectsByID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getProjectsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getProjectsByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getTasksctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubXrefsBySub">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getSubXrefsBySub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getSubXrefsBySubctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeesByID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getEmployeesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getEmployeesByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLaborClassesByID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getLaborClassesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getLaborClassesByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="journalTransactionsSoap12" type="tns:journalTransactionsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/about" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editScreen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editNote">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editNotectDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editNoteAsDataSet">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editNoteAsDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editNoteAsDataSetctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewGLTran">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewGLTran" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getNewGLTranctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewscreen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getNewscreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScreenByBatNbr">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getScreenByBatNbr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getScreenByBatNbrctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewBatch">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getNewBatchctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBatchesByBatNbr">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getBatchesByBatNbr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getBatchesByBatNbrctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGLTransByBatNbrAndLineNbr">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getGLTransByBatNbrAndLineNbr" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getGLTransByBatNbrAndLineNbrctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editGLTran">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editGLTran" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editGLTranctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editBatch">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editBatchctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAcctXrefsByAcct">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getAcctXrefsByAcct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getAcctXrefsByAcctctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProjectsByID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getProjectsByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getProjectsByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTasks">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getTasksctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubXrefsBySub">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getSubXrefsBySub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getSubXrefsBySubctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmployeesByID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getEmployeesByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getEmployeesByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLaborClassesByID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getLaborClassesByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getLaborClassesByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="journalTransactions">
    <wsdl:port name="journalTransactionsSoap" binding="tns:journalTransactionsSoap">
      <soap:address location="http://localhost/ctapi/services/ctDynamicsSL/journalTransactions.asmx" />
    </wsdl:port>
    <wsdl:port name="journalTransactionsSoap12" binding="tns:journalTransactionsSoap12">
      <soap12:address location="http://localhost/ctapi/services/ctDynamicsSL/journalTransactions.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>