client.orderManagement.maintenance.customerContacts/Web References/ctDynamicsSL.orderManagement.maintenance.customerContacts/customerContacts.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.catalinatechnology.com/services/ctDynamicsSL" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.catalinatechnology.com/services/ctDynamicsSL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.catalinatechnology.com/services/ctDynamicsSL">
      <s:element name="about">
        <s:complexType />
      </s:element>
      <s:element name="aboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactsByCustID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactsByCustIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustContactsByCustIDResult" type="tns:ArrayOfCustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustContact" nillable="true" type="tns:CustContact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Addr1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Addr2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Crtd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LUpd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoteID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderLimit" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="POReqdAmt" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future02" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future03" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future04" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future05" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future07" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future09" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Salut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User10" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="User2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User4" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User5" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="User6" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="User7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User8" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User9" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="WebSite" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ctDynamicsSLHeader" type="tns:ctDynamicsSLHeader" />
      <s:complexType name="ctDynamicsSLHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseExpiration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="softwareName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpnyID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="getCustContactsByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactsByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustContactsByIDResult" type="tns:ArrayOfCustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactByExactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contactID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactByExactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustContactByExactIDResult" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateCustID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requireActive" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validateCustIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validateCustIDResult" type="tns:genericReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="genericReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getScreenByCustID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getScreenByCustIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getScreenByCustIDResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="screen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="myCustID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="myCustContacts" type="tns:ArrayOfCustContact" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getNewscreen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inTemplate" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewscreenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewscreenResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editScreen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inScreen" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editScreenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editScreenResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inSnote" type="tns:Snote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Snote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="dtRevisedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="nID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="sLevelName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sTableName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sNoteText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="editNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editNoteResult" type="tns:Snote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editNoteAsDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inSnote" type="tns:Snote" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editNoteAsDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editNoteAsDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCustContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inItem" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCustContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editCustContactResult" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCustContactAsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inItem" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCustContactAsJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editCustContactAsJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCustContactAsDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inItem" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCustContactAsDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editCustContactAsDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCustContactAsDataSetAsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inItem" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCustContactAsDataSetAsJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editCustContactAsDataSetAsJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewCustContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inTemplate" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewCustContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewCustContactResult" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewCustContactAsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inTemplate" type="tns:CustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewCustContactAsJSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewCustContactAsJSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currentPageNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parms" type="tns:ArrayOfNameValuePairs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfNameValuePairs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="nameValuePairs" nillable="true" type="tns:nameValuePairs" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="nameValuePairs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getCustContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustContactsResult" type="tns:ArrayOfCustContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactsAsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currentPageNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parms" type="tns:ArrayOfNameValuePairs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactsAsJSONResponse">
        <s:complexType />
      </s:element>
      <s:element name="getCustContactsAsDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currentPageNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parms" type="tns:ArrayOfNameValuePairs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactsAsDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCustContactsAsDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactsAsDataSetAsJSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="currentPageNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parms" type="tns:ArrayOfNameValuePairs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCustContactsAsDataSetAsJSONResponse">
        <s:complexType />
      </s:element>
      <s:element name="ping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseExpiration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="softwareName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="aboutSoapIn">
    <wsdl:part name="parameters" element="tns:about" />
  </wsdl:message>
  <wsdl:message name="aboutSoapOut">
    <wsdl:part name="parameters" element="tns:aboutResponse" />
  </wsdl:message>
  <wsdl:message name="getCustContactsByCustIDSoapIn">
    <wsdl:part name="parameters" element="tns:getCustContactsByCustID" />
  </wsdl:message>
  <wsdl:message name="getCustContactsByCustIDSoapOut">
    <wsdl:part name="parameters" element="tns:getCustContactsByCustIDResponse" />
  </wsdl:message>
  <wsdl:message name="getCustContactsByCustIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getCustContactsByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getCustContactsByID" />
  </wsdl:message>
  <wsdl:message name="getCustContactsByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getCustContactsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="getCustContactsByIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getCustContactByExactIDSoapIn">
    <wsdl:part name="parameters" element="tns:getCustContactByExactID" />
  </wsdl:message>
  <wsdl:message name="getCustContactByExactIDSoapOut">
    <wsdl:part name="parameters" element="tns:getCustContactByExactIDResponse" />
  </wsdl:message>
  <wsdl:message name="getCustContactByExactIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="validateCustIDSoapIn">
    <wsdl:part name="parameters" element="tns:validateCustID" />
  </wsdl:message>
  <wsdl:message name="validateCustIDSoapOut">
    <wsdl:part name="parameters" element="tns:validateCustIDResponse" />
  </wsdl:message>
  <wsdl:message name="validateCustIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getScreenByCustIDSoapIn">
    <wsdl:part name="parameters" element="tns:getScreenByCustID" />
  </wsdl:message>
  <wsdl:message name="getScreenByCustIDSoapOut">
    <wsdl:part name="parameters" element="tns:getScreenByCustIDResponse" />
  </wsdl:message>
  <wsdl:message name="getScreenByCustIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getNewscreenSoapIn">
    <wsdl:part name="parameters" element="tns:getNewscreen" />
  </wsdl:message>
  <wsdl:message name="getNewscreenSoapOut">
    <wsdl:part name="parameters" element="tns:getNewscreenResponse" />
  </wsdl:message>
  <wsdl:message name="getNewscreenctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editScreenSoapIn">
    <wsdl:part name="parameters" element="tns:editScreen" />
  </wsdl:message>
  <wsdl:message name="editScreenSoapOut">
    <wsdl:part name="parameters" element="tns:editScreenResponse" />
  </wsdl:message>
  <wsdl:message name="editScreenctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editNoteSoapIn">
    <wsdl:part name="parameters" element="tns:editNote" />
  </wsdl:message>
  <wsdl:message name="editNoteSoapOut">
    <wsdl:part name="parameters" element="tns:editNoteResponse" />
  </wsdl:message>
  <wsdl:message name="editNotectDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editNoteAsDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:editNoteAsDataSet" />
  </wsdl:message>
  <wsdl:message name="editNoteAsDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:editNoteAsDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="editNoteAsDataSetctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editCustContactSoapIn">
    <wsdl:part name="parameters" element="tns:editCustContact" />
  </wsdl:message>
  <wsdl:message name="editCustContactSoapOut">
    <wsdl:part name="parameters" element="tns:editCustContactResponse" />
  </wsdl:message>
  <wsdl:message name="editCustContactctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editCustContactAsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:editCustContactAsJSON" />
  </wsdl:message>
  <wsdl:message name="editCustContactAsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:editCustContactAsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="editCustContactAsDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:editCustContactAsDataSet" />
  </wsdl:message>
  <wsdl:message name="editCustContactAsDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:editCustContactAsDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="editCustContactAsDataSetctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editCustContactAsDataSetAsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:editCustContactAsDataSetAsJSON" />
  </wsdl:message>
  <wsdl:message name="editCustContactAsDataSetAsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:editCustContactAsDataSetAsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="getNewCustContactSoapIn">
    <wsdl:part name="parameters" element="tns:getNewCustContact" />
  </wsdl:message>
  <wsdl:message name="getNewCustContactSoapOut">
    <wsdl:part name="parameters" element="tns:getNewCustContactResponse" />
  </wsdl:message>
  <wsdl:message name="getNewCustContactctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getNewCustContactAsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:getNewCustContactAsJSON" />
  </wsdl:message>
  <wsdl:message name="getNewCustContactAsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:getNewCustContactAsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="getCustContactsSoapIn">
    <wsdl:part name="parameters" element="tns:getCustContacts" />
  </wsdl:message>
  <wsdl:message name="getCustContactsSoapOut">
    <wsdl:part name="parameters" element="tns:getCustContactsResponse" />
  </wsdl:message>
  <wsdl:message name="getCustContactsctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getCustContactsAsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:getCustContactsAsJSON" />
  </wsdl:message>
  <wsdl:message name="getCustContactsAsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:getCustContactsAsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="getCustContactsAsDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:getCustContactsAsDataSet" />
  </wsdl:message>
  <wsdl:message name="getCustContactsAsDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:getCustContactsAsDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="getCustContactsAsDataSetctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getCustContactsAsDataSetAsJSONSoapIn">
    <wsdl:part name="parameters" element="tns:getCustContactsAsDataSetAsJSON" />
  </wsdl:message>
  <wsdl:message name="getCustContactsAsDataSetAsJSONSoapOut">
    <wsdl:part name="parameters" element="tns:getCustContactsAsDataSetAsJSONResponse" />
  </wsdl:message>
  <wsdl:message name="pingSoapIn">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="pingSoapOut">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:portType name="customerContactsSoap">
    <wsdl:operation name="about">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">About  Copyright 2015. Catalina Technology.</wsdl:documentation>
      <wsdl:input message="tns:aboutSoapIn" />
      <wsdl:output message="tns:aboutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustContactsByCustID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all CustContacts by CustID</wsdl:documentation>
      <wsdl:input message="tns:getCustContactsByCustIDSoapIn" />
      <wsdl:output message="tns:getCustContactsByCustIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustContactsByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for CustContacts (Buyers) by custID and contactID</wsdl:documentation>
      <wsdl:input message="tns:getCustContactsByIDSoapIn" />
      <wsdl:output message="tns:getCustContactsByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustContactByExactID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a CustContact(Buyer) by custID and contactID</wsdl:documentation>
      <wsdl:input message="tns:getCustContactByExactIDSoapIn" />
      <wsdl:output message="tns:getCustContactByExactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="validateCustID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verifies that a custID is valid</wsdl:documentation>
      <wsdl:input message="tns:validateCustIDSoapIn" />
      <wsdl:output message="tns:validateCustIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getScreenByCustID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a Screen object using the passed custID</wsdl:documentation>
      <wsdl:input message="tns:getScreenByCustIDSoapIn" />
      <wsdl:output message="tns:getScreenByCustIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a new default screen based on the passed template</wsdl:documentation>
      <wsdl:input message="tns:getNewscreenSoapIn" />
      <wsdl:output message="tns:getNewscreenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits all the records for the customer contact maintenance screen. </wsdl:documentation>
      <wsdl:input message="tns:editScreenSoapIn" />
      <wsdl:output message="tns:editScreenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editNote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits a note for CustContact. actionTypes:ADD,UPDATE,VALIDATEONLY</wsdl:documentation>
      <wsdl:input message="tns:editNoteSoapIn" />
      <wsdl:output message="tns:editNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editNoteAsDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits a note for CustContact. actionTypes:ADD,UPDATE,VALIDATEONLY</wsdl:documentation>
      <wsdl:input message="tns:editNoteAsDataSetSoapIn" />
      <wsdl:output message="tns:editNoteAsDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editCustContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add/Edit CustContact entries.  Calls: xct_spDSLEditCustContact </wsdl:documentation>
      <wsdl:input message="tns:editCustContactSoapIn" />
      <wsdl:output message="tns:editCustContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add/Edit CustContact entries.  Calls: xct_spDSLEditCustContact </wsdl:documentation>
      <wsdl:input message="tns:editCustContactAsJSONSoapIn" />
      <wsdl:output message="tns:editCustContactAsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add/Edit CustContact entries.  Calls: xct_spDSLEditCustContact </wsdl:documentation>
      <wsdl:input message="tns:editCustContactAsDataSetSoapIn" />
      <wsdl:output message="tns:editCustContactAsDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsDataSetAsJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add/Edit CustContact entries.  Calls: xct_spDSLEditCustContact </wsdl:documentation>
      <wsdl:input message="tns:editCustContactAsDataSetAsJSONSoapIn" />
      <wsdl:output message="tns:editCustContactAsDataSetAsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewCustContact">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get a blank CustContact object</wsdl:documentation>
      <wsdl:input message="tns:getNewCustContactSoapIn" />
      <wsdl:output message="tns:getNewCustContactSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewCustContactAsJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get a blank CustContact object</wsdl:documentation>
      <wsdl:input message="tns:getNewCustContactAsJSONSoapIn" />
      <wsdl:output message="tns:getNewCustContactAsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustContacts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calls: xct_spDSLGetCustContacts</wsdl:documentation>
      <wsdl:input message="tns:getCustContactsSoapIn" />
      <wsdl:output message="tns:getCustContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calls: xct_spDSLGetCustContacts</wsdl:documentation>
      <wsdl:input message="tns:getCustContactsAsJSONSoapIn" />
      <wsdl:output message="tns:getCustContactsAsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calls: xct_spDSLGetCustContacts</wsdl:documentation>
      <wsdl:input message="tns:getCustContactsAsDataSetSoapIn" />
      <wsdl:output message="tns:getCustContactsAsDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsDataSetAsJSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Calls: xct_spDSLGetCustContacts</wsdl:documentation>
      <wsdl:input message="tns:getCustContactsAsDataSetAsJSONSoapIn" />
      <wsdl:output message="tns:getCustContactsAsDataSetAsJSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping service. Types: WEBSERVICE, SQL, ALL</wsdl:documentation>
      <wsdl:input message="tns:pingSoapIn" />
      <wsdl:output message="tns:pingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="customerContactsSoap" type="tns:customerContactsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/about" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsByCustID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsByCustID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getCustContactsByCustIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsByID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getCustContactsByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactByExactID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactByExactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getCustContactByExactIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCustID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/validateCustID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:validateCustIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScreenByCustID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getScreenByCustID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getScreenByCustIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewscreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getNewscreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editNote">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editNotectDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editNoteAsDataSet">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editNoteAsDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editNoteAsDataSetctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustContact">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editCustContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editCustContactctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsJSON">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editCustContactAsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsDataSet">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editCustContactAsDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editCustContactAsDataSetctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsDataSetAsJSON">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editCustContactAsDataSetAsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewCustContact">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewCustContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getNewCustContactctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewCustContactAsJSON">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewCustContactAsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContacts">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getCustContactsctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsJSON">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsAsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsDataSet">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsAsDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getCustContactsAsDataSetctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsDataSetAsJSON">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsAsDataSetAsJSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="customerContactsSoap12" type="tns:customerContactsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/about" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsByCustID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsByCustID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getCustContactsByCustIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsByID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getCustContactsByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactByExactID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactByExactID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getCustContactByExactIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateCustID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/validateCustID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:validateCustIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScreenByCustID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getScreenByCustID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getScreenByCustIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewscreen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getNewscreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editScreen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editNote">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editNotectDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editNoteAsDataSet">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editNoteAsDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editNoteAsDataSetctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustContact">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editCustContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editCustContactctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsJSON">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editCustContactAsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsDataSet">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editCustContactAsDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editCustContactAsDataSetctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCustContactAsDataSetAsJSON">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editCustContactAsDataSetAsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewCustContact">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewCustContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getNewCustContactctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewCustContactAsJSON">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewCustContactAsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContacts">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getCustContactsctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsJSON">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsAsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsDataSet">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsAsDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getCustContactsAsDataSetctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustContactsAsDataSetAsJSON">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getCustContactsAsDataSetAsJSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="customerContacts">
    <wsdl:port name="customerContactsSoap" binding="tns:customerContactsSoap">
      <soap:address location="http://localhost/ctDynamicsSL/customerContacts.asmx" />
    </wsdl:port>
    <wsdl:port name="customerContactsSoap12" binding="tns:customerContactsSoap12">
      <soap12:address location="http://localhost/ctDynamicsSL/customerContacts.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>