client.quickQuery/Web References/ctDynamicsSL.quickQuery/quickQuery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.catalinatechnology.com/services/ctDynamicsSL" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.catalinatechnology.com/services/ctDynamicsSL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.catalinatechnology.com/services/ctDynamicsSL">
      <s:element name="about">
        <s:complexType />
      </s:element>
      <s:element name="aboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getScreen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryViewName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filters" type="tns:ArrayOfQueryFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQueryFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="queryFilter" nillable="true" type="tns:queryFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="queryFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="comparisonType" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getScreenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getScreenResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="screen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="myQueryView" type="tns:vs_qvcatalog" />
          <s:element minOccurs="0" maxOccurs="1" name="myQueryResults">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="vs_qvcatalog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SQLView" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BaseQueryView" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueryViewName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Module" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewFilter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ViewSort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ColumnsRemovedMoved" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DrillPrograms" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VisibilityType" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Visibility" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SystemDatabase" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyColumn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompanyParms" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteColumns" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ctDynamicsSLHeader" type="tns:ctDynamicsSLHeader" />
      <s:complexType name="ctDynamicsSLHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseExpiration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="softwareName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpnyID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="getQueryViewsByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryViewName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQueryViewsByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQueryViewsByIDResult" type="tns:ArrayOfVs_qvcatalog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVs_qvcatalog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="vs_qvcatalog" nillable="true" type="tns:vs_qvcatalog" />
        </s:sequence>
      </s:complexType>
      <s:element name="getQueryViewsByExactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryViewName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getQueryViewsByExactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getQueryViewsByExactIDResult" type="tns:vs_qvcatalog" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseExpiration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="softwareName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="aboutSoapIn">
    <wsdl:part name="parameters" element="tns:about" />
  </wsdl:message>
  <wsdl:message name="aboutSoapOut">
    <wsdl:part name="parameters" element="tns:aboutResponse" />
  </wsdl:message>
  <wsdl:message name="getScreenSoapIn">
    <wsdl:part name="parameters" element="tns:getScreen" />
  </wsdl:message>
  <wsdl:message name="getScreenSoapOut">
    <wsdl:part name="parameters" element="tns:getScreenResponse" />
  </wsdl:message>
  <wsdl:message name="getScreenctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getQueryViewsByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getQueryViewsByID" />
  </wsdl:message>
  <wsdl:message name="getQueryViewsByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getQueryViewsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="getQueryViewsByIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getQueryViewsByExactIDSoapIn">
    <wsdl:part name="parameters" element="tns:getQueryViewsByExactID" />
  </wsdl:message>
  <wsdl:message name="getQueryViewsByExactIDSoapOut">
    <wsdl:part name="parameters" element="tns:getQueryViewsByExactIDResponse" />
  </wsdl:message>
  <wsdl:message name="getQueryViewsByExactIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="pingSoapIn">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="pingSoapOut">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:portType name="quickQuerySoap">
    <wsdl:operation name="about">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">About  Copyright 2016. Catalina Technology.</wsdl:documentation>
      <wsdl:input message="tns:aboutSoapIn" />
      <wsdl:output message="tns:aboutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getScreen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a Screen object using the passed query view name and filters</wsdl:documentation>
      <wsdl:input message="tns:getScreenSoapIn" />
      <wsdl:output message="tns:getScreenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueryViewsByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for query views by the query view name</wsdl:documentation>
      <wsdl:input message="tns:getQueryViewsByIDSoapIn" />
      <wsdl:output message="tns:getQueryViewsByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getQueryViewsByExactID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for a single query view by name</wsdl:documentation>
      <wsdl:input message="tns:getQueryViewsByExactIDSoapIn" />
      <wsdl:output message="tns:getQueryViewsByExactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping service. Types: WEBSERVICE, SQL, ALL</wsdl:documentation>
      <wsdl:input message="tns:pingSoapIn" />
      <wsdl:output message="tns:pingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="quickQuerySoap" type="tns:quickQuerySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/about" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScreen">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryViewsByID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getQueryViewsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getQueryViewsByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryViewsByExactID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getQueryViewsByExactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getQueryViewsByExactIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="quickQuerySoap12" type="tns:quickQuerySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/about" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScreen">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getScreen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryViewsByID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getQueryViewsByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getQueryViewsByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryViewsByExactID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getQueryViewsByExactID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getQueryViewsByExactIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="quickQuery">
    <wsdl:port name="quickQuerySoap" binding="tns:quickQuerySoap">
      <soap:address location="http://localhost/ctapi/services/ctDynamicsSL/quickQuery.asmx" />
    </wsdl:port>
    <wsdl:port name="quickQuerySoap12" binding="tns:quickQuerySoap12">
      <soap12:address location="http://localhost/ctapi/services/ctDynamicsSL/quickQuery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>