client.projectExpenseTypeMaintenance/Web References/ctDynamicsSL.project.timeAndExpense.maintenance.projectExpenseTypeMaintenance/projectExpenseTypeMaintenance.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.catalinatechnology.com/services/ctDynamicsSL" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.catalinatechnology.com/services/ctDynamicsSL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.catalinatechnology.com/services/ctDynamicsSL">
      <s:element name="about">
        <s:complexType />
      </s:element>
      <s:element name="aboutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aboutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editScreen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inScreen" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="screen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="myPJEXPTYP" type="tns:ArrayOfPJEXPTYP" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPJEXPTYP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PJEXPTYP" nillable="true" type="tns:PJEXPTYP" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PJEXPTYP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="crtd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="crtd_user" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="default_rate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="desc_exp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ex_id01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ex_id02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ex_id03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ex_id04" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ex_id05" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ex_id06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ex_id07" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ex_id08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ex_id09" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ex_id10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="exp_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="gl_acct" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lupd_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lupd_user" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoteId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tax_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="taxid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="units_flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="user3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="user4" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="editScreenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editScreenResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ctDynamicsSLHeader" type="tns:ctDynamicsSLHeader" />
      <s:complexType name="ctDynamicsSLHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="licenseExpiration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="softwareName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siteKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cpnyID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="editPJEXPTYP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inItem" type="tns:PJEXPTYP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editPJEXPTYPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editPJEXPTYPResult" type="tns:PJEXPTYP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewscreen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inTemplate" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewscreenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewscreenResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewPJEXPTYP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inTemplate" type="tns:PJEXPTYP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewPJEXPTYPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewPJEXPTYPResult" type="tns:PJEXPTYP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getScreen">
        <s:complexType />
      </s:element>
      <s:element name="getScreenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getScreenResult" type="tns:screen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPJEXPTYPByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exp_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPJEXPTYPByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPJEXPTYPByIDResult" type="tns:ArrayOfPJEXPTYP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPJEXPTYPByExactID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exp_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPJEXPTYPByExactIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPJEXPTYPByExactIDResult" type="tns:PJEXPTYP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccountsByAcct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acct" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAccountsByAcctResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAccountsByAcctResult" type="tns:ArrayOfAccount" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Account">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Acct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcctType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Acct_Cat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Acct_Cat_SW" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConsolAcct" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Crtd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CuryId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Employ_Sw" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LUpd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_User" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NoteID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RatioGrp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future02" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future03" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future04" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future05" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future07" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future09" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SummPost" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitofMeas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Units_SW" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="User4" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="User5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User6" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User7" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="User8" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidateID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getTaxIDsByTaxID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taxID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTaxIDsByTaxIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTaxIDsByTaxIDResult" type="tns:ArrayOfSalesTax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSalesTax">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalesTax" nillable="true" type="tns:SalesTax" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SalesTax">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="resultCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AccruTaxAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccruTaxesubAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdjByTermsDisc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplTermDisc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplTermsDiscTax" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="APTaxPtDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARTaxPtDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatExcept00" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatExcept01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatExcept02" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatExcept03" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatExcept04" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatExcept05" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatFlg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Crtd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Crtd_User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Exemption" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExemTaxId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Exp_to_Proj_Sw" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpTaxAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpTaxesub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FilingLoc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupDetCnt" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupRule" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InclFrt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InclInDocTot" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Inclmisc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LiabTaxAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LiabTaxesub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LongId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LUpd_DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_Prog" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LUpd_User" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Lvl2Exmpt" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="NewRateDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NewTaxRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="NoteId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="OldTaxRate" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="OPTaxPtDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="POTaxPtDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PrcTaxIncl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PurTaxAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PurTaxDiscAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PurTaxDiscSub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PurTaxesub" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RateAboveMax" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future01" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future02" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future03" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future04" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future05" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future06" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future07" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future08" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future09" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="S4Future10" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future11" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="S4Future12" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SlsTaxAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SlsTaxDiscAcct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SlsTaxDiscSub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SlsTaxesub" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxAuthLvl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxBasis" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCalcLvl" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCalcMeth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxCalcType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxRate" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TaxRvsdDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TxblAdjPct" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TxblMax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TxblMin" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="TxblMinMaxCuryID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User2" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User3" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="User4" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="User5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User6" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="User7" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="User8" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="VendID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="VoucherTax" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="ping">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="siteKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenseExpiration" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="softwareName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="pingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="aboutSoapIn">
    <wsdl:part name="parameters" element="tns:about" />
  </wsdl:message>
  <wsdl:message name="aboutSoapOut">
    <wsdl:part name="parameters" element="tns:aboutResponse" />
  </wsdl:message>
  <wsdl:message name="editScreenSoapIn">
    <wsdl:part name="parameters" element="tns:editScreen" />
  </wsdl:message>
  <wsdl:message name="editScreenSoapOut">
    <wsdl:part name="parameters" element="tns:editScreenResponse" />
  </wsdl:message>
  <wsdl:message name="editScreenctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="editPJEXPTYPSoapIn">
    <wsdl:part name="parameters" element="tns:editPJEXPTYP" />
  </wsdl:message>
  <wsdl:message name="editPJEXPTYPSoapOut">
    <wsdl:part name="parameters" element="tns:editPJEXPTYPResponse" />
  </wsdl:message>
  <wsdl:message name="editPJEXPTYPctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getNewscreenSoapIn">
    <wsdl:part name="parameters" element="tns:getNewscreen" />
  </wsdl:message>
  <wsdl:message name="getNewscreenSoapOut">
    <wsdl:part name="parameters" element="tns:getNewscreenResponse" />
  </wsdl:message>
  <wsdl:message name="getNewscreenctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getNewPJEXPTYPSoapIn">
    <wsdl:part name="parameters" element="tns:getNewPJEXPTYP" />
  </wsdl:message>
  <wsdl:message name="getNewPJEXPTYPSoapOut">
    <wsdl:part name="parameters" element="tns:getNewPJEXPTYPResponse" />
  </wsdl:message>
  <wsdl:message name="getNewPJEXPTYPctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getScreenSoapIn">
    <wsdl:part name="parameters" element="tns:getScreen" />
  </wsdl:message>
  <wsdl:message name="getScreenSoapOut">
    <wsdl:part name="parameters" element="tns:getScreenResponse" />
  </wsdl:message>
  <wsdl:message name="getScreenctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getPJEXPTYPByIDSoapIn">
    <wsdl:part name="parameters" element="tns:getPJEXPTYPByID" />
  </wsdl:message>
  <wsdl:message name="getPJEXPTYPByIDSoapOut">
    <wsdl:part name="parameters" element="tns:getPJEXPTYPByIDResponse" />
  </wsdl:message>
  <wsdl:message name="getPJEXPTYPByIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getPJEXPTYPByExactIDSoapIn">
    <wsdl:part name="parameters" element="tns:getPJEXPTYPByExactID" />
  </wsdl:message>
  <wsdl:message name="getPJEXPTYPByExactIDSoapOut">
    <wsdl:part name="parameters" element="tns:getPJEXPTYPByExactIDResponse" />
  </wsdl:message>
  <wsdl:message name="getPJEXPTYPByExactIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getAccountsByAcctSoapIn">
    <wsdl:part name="parameters" element="tns:getAccountsByAcct" />
  </wsdl:message>
  <wsdl:message name="getAccountsByAcctSoapOut">
    <wsdl:part name="parameters" element="tns:getAccountsByAcctResponse" />
  </wsdl:message>
  <wsdl:message name="getAccountsByAcctctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="getTaxIDsByTaxIDSoapIn">
    <wsdl:part name="parameters" element="tns:getTaxIDsByTaxID" />
  </wsdl:message>
  <wsdl:message name="getTaxIDsByTaxIDSoapOut">
    <wsdl:part name="parameters" element="tns:getTaxIDsByTaxIDResponse" />
  </wsdl:message>
  <wsdl:message name="getTaxIDsByTaxIDctDynamicsSLHeader">
    <wsdl:part name="ctDynamicsSLHeader" element="tns:ctDynamicsSLHeader" />
  </wsdl:message>
  <wsdl:message name="pingSoapIn">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="pingSoapOut">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:portType name="projectExpenseTypeMaintenanceSoap">
    <wsdl:operation name="about">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">About  Copyright 2015. Catalina Technology.</wsdl:documentation>
      <wsdl:input message="tns:aboutSoapIn" />
      <wsdl:output message="tns:aboutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Edits all the records for the project expense type maintenance screen</wsdl:documentation>
      <wsdl:input message="tns:editScreenSoapIn" />
      <wsdl:output message="tns:editScreenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editPJEXPTYP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add/Edit PJEXPTYP entries.  Calls: xct_spDSLEditPJEXPTYP</wsdl:documentation>
      <wsdl:input message="tns:editPJEXPTYPSoapIn" />
      <wsdl:output message="tns:editPJEXPTYPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets a new default screen based on the passed template</wsdl:documentation>
      <wsdl:input message="tns:getNewscreenSoapIn" />
      <wsdl:output message="tns:getNewscreenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewPJEXPTYP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">get a blank PJEXPTYP object</wsdl:documentation>
      <wsdl:input message="tns:getNewPJEXPTYPSoapIn" />
      <wsdl:output message="tns:getNewPJEXPTYPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getScreen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a Screen object returning all expense types</wsdl:documentation>
      <wsdl:input message="tns:getScreenSoapIn" />
      <wsdl:output message="tns:getScreenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPJEXPTYPByID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for all PJEXPTYP entries by expense type</wsdl:documentation>
      <wsdl:input message="tns:getPJEXPTYPByIDSoapIn" />
      <wsdl:output message="tns:getPJEXPTYPByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPJEXPTYPByExactID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for a single PJEXPTYP entry by ID</wsdl:documentation>
      <wsdl:input message="tns:getPJEXPTYPByExactIDSoapIn" />
      <wsdl:output message="tns:getPJEXPTYPByExactIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAccountsByAcct">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for accounts based on acct</wsdl:documentation>
      <wsdl:input message="tns:getAccountsByAcctSoapIn" />
      <wsdl:output message="tns:getAccountsByAcctSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTaxIDsByTaxID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Searches for taxIDs based on taxID</wsdl:documentation>
      <wsdl:input message="tns:getTaxIDsByTaxIDSoapIn" />
      <wsdl:output message="tns:getTaxIDsByTaxIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ping">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ping service. Types: WEBSERVICE, SQL, ALL</wsdl:documentation>
      <wsdl:input message="tns:pingSoapIn" />
      <wsdl:output message="tns:pingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="projectExpenseTypeMaintenanceSoap" type="tns:projectExpenseTypeMaintenanceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/about" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPJEXPTYP">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editPJEXPTYP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:editPJEXPTYPctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewscreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getNewscreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewPJEXPTYP">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewPJEXPTYP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getNewPJEXPTYPctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScreen">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPJEXPTYPByID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getPJEXPTYPByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getPJEXPTYPByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPJEXPTYPByExactID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getPJEXPTYPByExactID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getPJEXPTYPByExactIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountsByAcct">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getAccountsByAcct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getAccountsByAcctctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaxIDsByTaxID">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getTaxIDsByTaxID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getTaxIDsByTaxIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="projectExpenseTypeMaintenanceSoap12" type="tns:projectExpenseTypeMaintenanceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="about">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/about" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editScreen">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editScreen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPJEXPTYP">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/editPJEXPTYP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:editPJEXPTYPctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewscreen">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewscreen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getNewscreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewPJEXPTYP">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getNewPJEXPTYP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getNewPJEXPTYPctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getScreen">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getScreen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getScreenctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPJEXPTYPByID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getPJEXPTYPByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getPJEXPTYPByIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPJEXPTYPByExactID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getPJEXPTYPByExactID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getPJEXPTYPByExactIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAccountsByAcct">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getAccountsByAcct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getAccountsByAcctctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaxIDsByTaxID">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/getTaxIDsByTaxID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getTaxIDsByTaxIDctDynamicsSLHeader" part="ctDynamicsSLHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ping">
      <soap12:operation soapAction="http://www.catalinatechnology.com/services/ctDynamicsSL/ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="projectExpenseTypeMaintenance">
    <wsdl:port name="projectExpenseTypeMaintenanceSoap" binding="tns:projectExpenseTypeMaintenanceSoap">
      <soap:address location="http://localhost/ctapi/services/ctDynamicsSL/projectExpenseTypeMaintenance.asmx" />
    </wsdl:port>
    <wsdl:port name="projectExpenseTypeMaintenanceSoap12" binding="tns:projectExpenseTypeMaintenanceSoap12">
      <soap12:address location="http://localhost/ctapi/services/ctDynamicsSL/projectExpenseTypeMaintenance.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>